---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

import "../styles/base.css";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <h1>🧑‍🚀 Hello, Astronaut!</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta tempora ea eaque exercitationem doloremque dolorum fuga, corporis illo molestias cum a. Accusamus eius earum consectetur unde, perferendis ad voluptatem quas.

        Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo ad voluptatem eligendi laborum sit dignissimos totam, animi, voluptates praesentium quam error repellat sequi deserunt aspernatur. Aperiam illum beatae quae in?
        Cum natus placeat neque laborum dolorem quis mollitia nisi amet est dignissimos ad sapiente consequuntur eligendi, impedit soluta tenetur in deleniti tempore, nemo consectetur doloremque? Deleniti suscipit cum voluptatem fuga!
        Est, doloremque asperiores! Ducimus dicta officia maiores enim quod. Omnis possimus nemo praesentium repellendus officia impedit alias id consectetur dignissimos, ipsam, libero totam magnam explicabo aperiam tempore sint odio adipisci?
        Dignissimos vel neque, similique nostrum aperiam tempora harum inventore laudantium necessitatibus iure consequuntur deserunt recusandae omnis repudiandae cumque dolores nobis, distinctio debitis? Pariatur excepturi expedita ipsam quis ratione porro natus!
        Dignissimos, molestias in debitis tenetur unde facere ea, deleniti obcaecati officiis sint voluptatem, nobis accusantium perspiciatis corrupti repellendus dolorum necessitatibus asperiores reprehenderit minima! Commodi consectetur at atque quisquam eaque facilis!
        Doloribus ad optio cum, perspiciatis dolor accusamus illum vel odio est unde molestias, deleniti officia. Impedit aspernatur iusto quibusdam quisquam, qui esse alias quod incidunt. Est et architecto atque commodi.
        Illum nostrum reiciendis velit repellendus hic nihil, quae nisi ad voluptate, aliquam ipsam magni enim! Vel et corporis ex quod voluptates temporibus ab vero eligendi commodi officia iure, delectus sequi.
        Nulla et molestias deserunt excepturi odit voluptas consectetur, necessitatibus temporibus aliquid iusto id, laborum exercitationem vitae, quasi culpa! Magni perspiciatis earum aspernatur fuga quod, placeat eaque blanditiis dolores voluptatum nostrum!
        Magni at id enim ad sapiente fugit quae debitis rerum voluptatum aspernatur similique animi vel nesciunt provident sunt perferendis corrupti reiciendis quis, sit minima. Labore ipsa impedit voluptate quos vitae.
        Facere voluptas neque laudantium soluta nulla perferendis nam suscipit architecto quo pariatur omnis, sunt corporis veniam vel, natus, officia optio accusamus. Excepturi perferendis perspiciatis nesciunt consequuntur architecto ex velit libero.
      </p>
    </main>
    <Footer />
  </body>
</html>
