---
import Layout from "../layouts/BlogPost.astro"

---

<Layout
  title="About Me"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date("August 08 2021")}
  updatedDate={new Date("August 08 2022")}
  heroImage="/placeholder-about.jpg"
>


  <h1>Testing display of HTML elements</h1>
  <p>This page contains a bunch of HTML Elements and text. You can copy the source code and use it test out various CSS Properties. For testing purposes, you may use <dfn>internal styles. Recall that these CSS rules are placed in between the <code>head</code> tags using the following format:</dfn></p>
  
  <code>
    <pre>&lt;style type="text/css"&gt;

  &lt;/style&gt;</pre>
  </code>
  
  
  <h1>This is 1st level heading</h1>
  <p>This is a test paragraph.</p>
  <h2>This is 2nd level heading</h2>
  <p>This is a test paragraph.</p>
  <h3>This is 3rd level heading</h3>
  <p>This is a test paragraph.</p>
  <h4>This is 4th level heading</h4>
  <p>This is a test paragraph.</p>
  <h5>This is 5th level heading</h5>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vitae ultricies leo integer malesuada nunc vel risus commodo viverra. Adipiscing enim eu turpis egestas pretium. Euismod elementum nisi quis eleifend quam adipiscing. In hac habitasse platea dictumst vestibulum. Sagittis purus sit amet volutpat. Netus et malesuada fames ac turpis egestas. Eget magna fermentum iaculis eu non diam phasellus vestibulum lorem. Varius sit amet mattis vulputate enim. Habitasse platea dictumst quisque sagittis. Integer quis auctor elit sed vulputate mi. Dictumst quisque sagittis purus sit amet.

    Morbi tristique senectus et netus. Id semper risus in hendrerit gravida rutrum quisque non tellus. Habitasse platea dictumst quisque sagittis purus sit amet. Tellus molestie nunc non blandit massa. Cursus vitae congue mauris rhoncus. Accumsan tortor posuere ac ut. Fringilla urna porttitor rhoncus dolor. Elit ullamcorper dignissim cras tincidunt lobortis. In cursus turpis massa tincidunt dui ut ornare lectus. Integer feugiat scelerisque varius morbi enim nunc. Bibendum neque egestas congue quisque egestas diam. Cras ornare arcu dui vivamus arcu felis bibendum. Dignissim suspendisse in est ante in nibh mauris. Sed tempus urna et pharetra pharetra massa massa ultricies mi.
    
    Mollis nunc sed id semper risus in. Convallis a cras semper auctor neque. Diam sit amet nisl suscipit. Lacus viverra vitae congue eu consequat ac felis donec. Egestas integer eget aliquet nibh praesent tristique magna sit amet. Eget magna fermentum iaculis eu non diam. In vitae turpis massa sed elementum. Tristique et egestas quis ipsum suspendisse ultrices. Eget lorem dolor sed viverra ipsum. Vel turpis nunc eget lorem dolor sed viverra. Posuere ac ut consequat semper viverra nam. Laoreet suspendisse interdum consectetur libero id faucibus. Diam phasellus vestibulum lorem sed risus ultricies tristique. Rhoncus dolor purus non enim praesent elementum facilisis. Ultrices tincidunt arcu non sodales neque. Tempus egestas sed sed risus pretium quam vulputate. Viverra suspendisse potenti nullam ac tortor vitae purus faucibus ornare. Fringilla urna porttitor rhoncus dolor purus non. Amet dictum sit amet justo donec enim.
    
    Mattis ullamcorper velit sed ullamcorper morbi tincidunt. Tortor posuere ac ut consequat semper viverra. Tellus mauris a diam maecenas sed enim ut sem viverra. Venenatis urna cursus eget nunc scelerisque viverra mauris in. Arcu ac tortor dignissim convallis aenean et tortor at. Curabitur gravida arcu ac tortor dignissim convallis aenean et tortor. Egestas tellus rutrum tellus pellentesque eu. Fusce ut placerat orci nulla pellentesque dignissim enim sit amet. Ut enim blandit volutpat maecenas volutpat blandit aliquam etiam. Id donec ultrices tincidunt arcu. Id cursus metus aliquam eleifend mi.
    
    Tempus quam pellentesque nec nam aliquam sem. Risus at ultrices mi tempus imperdiet. Id porta nibh venenatis cras sed felis eget velit. Ipsum a arcu cursus vitae. Facilisis magna etiam tempor orci eu lobortis elementum. Tincidunt dui ut ornare lectus sit. Quisque non tellus orci ac. Blandit libero volutpat sed cras. Nec tincidunt praesent semper feugiat nibh sed pulvinar proin gravida. Egestas integer eget aliquet nibh praesent tristique magna.</p>
  <h6>This is 6th level heading</h6>
  <p>This is a test paragraph.</p>
  
  <h2>Basic block level elements</h2>
  
  <p>This is a normal paragraph (<code>p</code> element). To add some length to it, let us mention that this page was primarily written for testing the effect of <strong>user style sheets</strong>. You can use it for various other purposes as well, like just checking how your browser displays various HTML elements.</p> 
  
  <p>This is another paragraph. <mark>I think it needs to be added that the set of elements tested is not exhaustive in any sense.</mark> I have selected those elements for which it can make sense to write user style sheet rules, in my opinion.</p>
  
  <div>This is a <code>div</code> element. Authors may use such elements instead of paragraph markup for various reasons. (End of <code>div</code>.)</div>
  
  <blockquote>
    <p>This is a <i>block quotation</i> containing a single paragraph. Well, not quite, since this is not <em>really</em> quoted text, but I hope you understand the point. After all, this page does not use HTML markup very normally anyway.</p>
  </blockquote>
  
  <p>The following contains links to the Comm-244 home page</p>
  
  <p>
    <a href="http://web.simmons.edu/~grovesd/comm244/">Comm-244 Website</a>,
    <a href="http://web.simmons.edu/~grovesd/comm244/week2.php">Week 2 page for class</a>
  </p>
  
  <h2>Lists</h2>
  
  <p>This is a paragraph before an <strong>unordered</strong> list (<code>ul</code>). Note that the spacing between a paragraph and a list before or after that is hard to tune in a user style sheet. You can't guess which paragraphs are logically related to a list, e.g. as a "list header".</p>
  
  <ul>
    <li> One.</li>
    <li> Two.</li>
    <li> Three. Well, probably this list item should be longer. Note that for short items lists look better if they are compactly presented, whereas for long items, it would be better to have more vertical spacing between items.</li>
    <li> Four. This is the last item in this list Let us terminate the list now without making any more fuss about it.</li>
  </ul>
  
  <p>This is a paragraph before a <strong>ordered</strong> list (<code>ol</code>). Note that the spacing between a paragraph and a list before or after that is hard to tune in a user style sheet. You can't guess which paragraphs are logically related to a list, e.g. as a "list header".</p>
  
  <ol>
    <li> One.</li>
    <li> Two.</li>
    <li> Three. Well, probably this list item should be longer. Note that if items are short, lists look better if they are compactly presented, whereas for long items, it would be better to have more vertical spacing between items. </li>
    <li> Four. This is the last item in this list. Let us terminate the list now without making any more fuss about it. </li>
  </ol>
  
  <p>This is a paragraph before a <strong>definition</strong> list (<code>dl</code>). In principle, such a list should consist of <em>terms</em> and associated definitions. But many authors use <code>dl</code> elements for fancy "layout" things. Usually the effect is not <em>too</em> bad, if you design user style sheet rules for <code>dl</code> which are suitable for real definition lists.</p>
  
  <dl>
    <dt> recursion </dt><dt>
    </dt><dd> see recursion </dd>
    <dt> recursion, indirect</dt>
    <dd> see indirect recursion</dd>
    <dt> indirect recursion</dt>
    <dd> see recursion, indirect</dd>
    <dt> term</dt>
    <dd> a word or other expression taken into specific use in a well-defined meaning, which is often defined rather rigorously, even formally, and may differ quite a lot from an everyday meaning</dd>
  </dl>
  
  
  
  
  
  
  

  
  
  <h1>Testing display of HTML elements</h1>
  <p>This page contains a bunch of HTML Elements and text. You can copy the source code and use it test out various CSS Properties. For testing purposes, you may use <strong>internal styles</strong>. Recall that these CSS rules are placed in between the <code>head</code> tags using the following format:</p>
  
  <code is:raw>
    <pre>&lt;style type="text/css"&gt;
      ciao {
        io: 
      }
  &lt;/style&gt;</pre>
  </code>
  
  
  <h1>This is 1st level heading</h1>
  <p>This is a test paragraph.</p>
  <h2>This is 2nd level heading</h2>
  <p>This is a test paragraph.</p>
  <h3>This is 3rd level heading</h3>
  <p>This is a test paragraph.</p>
  <h4>This is 4th level heading</h4>
  <p>This is a test paragraph.</p>
  <h5>This is 5th level heading</h5>
  <p>This is a test paragraph.</p>
  <h6>This is 6th level heading</h6>
  <p>This is a test paragraph.</p>
  
  <h2>Basic block level elements</h2>
  
  <p>This is a normal paragraph (<code>p</code> element). To add some length to it, let us mention that this page was primarily written for testing the effect of <strong>user style sheets</strong>. You can use it for various other purposes as well, like just checking how your browser displays various HTML elements.</p> 
  
  <p>This is another paragraph. I think it needs to be added that the set of elements tested is not exhaustive in any sense. I have selected those elements for which it can make sense to write user style sheet rules, in my opinion.</p>
  
  <div>This is a <code>div</code> element. Authors may use such elements instead of paragraph markup for various reasons. (End of <code>div</code>.)</div>
  
  <blockquote>
    <p>This is a block quotation containing a single paragraph. Well, not quite, since this is not <em>really</em> quoted text, but I hope you understand the point. After all, this page does not use HTML markup very normally anyway.</p>
  </blockquote>
  
  <p>The following contains links to the Comm-244 home page</p>
  
  <p>
    <a href="http://www.simmons.edu/~millera4/">Comm-244 Website</a>,
    <a href="http://www.simmons.edu/~millera4/week-2.html">Week 2 page for class</a>
  </p>
  
  <h2>Lists</h2>
  
  <p>This is a paragraph before an <strong>unordered</strong> list (<code>ul</code>). Note that the spacing between a paragraph and a list before or after that is hard to tune in a user style sheet. You can't guess which paragraphs are logically related to a list, e.g. as a "list header".</p>
  
  <ul>
    <li> One.</li>
    <li> Two.</li>
    <li> Three. Well, probably this list item should be longer. Note that for short items lists look better if they are compactly presented, whereas for long items, it would be better to have more vertical spacing between items.</li>
    <li> Four. This is the last item in this list Let us terminate the list now without making any more fuss about it.</li>
  </ul>
  
  <p>This is a paragraph before a <strong>ordered</strong> list (<code>ol</code>). Note that the spacing between a paragraph and a list before or after that is hard to tune in a user style sheet. You can't guess which paragraphs are logically related to a list, e.g. as a "list header".</p>
  
  <ol>
    <li> One.</li>
    <li> Two.</li>
    <li> Three. Well, probably this list item should be longer. Note that if items are short, lists look better if they are compactly presented, whereas for long items, it would be better to have more vertical spacing between items. </li>
    <li> Four. This is the last item in this list. Let us terminate the list now without making any more fuss about it. </li>
  </ol>
  
  <p>This is a paragraph before a <strong>definition</strong> list (<code>dl</code>). In principle, such a list should consist of <em>terms</em> and associated definitions. But many authors use <code>dl</code> elements for fancy "layout" things. Usually the effect is not <em>too</em> bad, if you design user style sheet rules for <code>dl</code> which are suitable for real definition lists.</p>
  
  <dl>
    <dt> recursion </dt><dt>
    </dt><dd> see recursion </dd>
    <dt> recursion, indirect</dt>
    <dd> see indirect recursion</dd>
    <dt> indirect recursion</dt>
    <dd> see recursion, indirect</dd>
    <dt> term</dt>
    <dd> a word or other expression taken into specific use in a well-defined meaning, which is often defined rather rigorously, even formally, and may differ quite a lot from an everyday meaning</dd>
  </dl>
  
  
  
  
  



</Layout>