---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import "../styles/base.css";
import Terminal from "../components/terminal/terminal.svelte";

const rows = ["Languages: typescript, C, Java", "somethings more..."];

const interests: { title: string; hint?: string }[] = [
  { title: "Programming 💻", hint: "obv" },
  { title: "Financial 🪙", hint: "I am not a Guru" },
  { title: "self growth 🧘", hint: "Like a real normie" },
];

// TODO implement
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main class="m-auto min-h-[75vh] w-[80%] py-10 lg:w-[50%]">
      <ul>
        <li>[]</li>
        <li>ciao</li>
      </ul>
    </main>
    <Footer />
  </body>
</html>
